!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thank you #{@order.name},
    %p
      Your order was submitted successfully.
      We will send you tracking ID, after departure.
      %br
    %p Thanks, 
    %p Your online store.